body {
    background: #fafafa;
    position: relative;
}

main {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #fafafa;
    background: #424242;
}

footer {
    text-align: center;
    color: #fafafa;
    background: #424242;
    padding: 10px;
    margin-top: 20px;
}

.section-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: block;
}
